*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

header{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}


.col{
    float: left;
    width: calc( 100% / 3);
    padding: 10px 20px;
}

.col img{
    height: 150px;
}

.card{
    background-color: black;
}

.card img{
    float: left;
    vertical-align: middle;
    vertical-align: bottom;
}

h3, h4, span{
    color: white;
}

h1{
    margin-bottom: 30px;
    font-family: sans-serif;
    color: lightcoral;
}

p{
    margin-bottom: 50px;
}

span{
    color: lightseagreen;
}

h4{
    vertical-align: middle;
}

span{
    vertical-align: bottom;
}